<!-- Logo Section Begin -->
<div class="logo-section spad" style="background-color: #E3E3E3; margin-top: 100px; margin-bottom: 60px;">
    <div class="logo-items owl-carousel" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="logo-item">
            <img src="{{ 't_ig_1.png' | asset_img_url: 'master'}}" alt="">
        </div>
        <div class="logo-item">
            <img src="{{ 't_ig_2.png' | asset_img_url: 'master'}}" alt="">
        </div>
        <div class="logo-item">
            <img src="{{ 't_ig_3.png' | asset_img_url: 'master'}}" alt="">
        </div>
        <div class="logo-item">
            <img src="{{ 't_ig_4.png' | asset_img_url: 'master'}}" alt="">
        </div>
        <div class="logo-item">
            <img src="{{ 't_ig_5.png' | asset_img_url: 'master'}}" alt="">
        </div>
    </div>
</div>
<!-- Logo Section End -->

{% schema %}
  {
    "name": "Logo Section",
    "settings": [],
	"presets": [
      {
        "category": "Logo Section",
        "name": "Logo Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
